.modal {
  height: 400px;
  width: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 10vh;
  overflow-y: auto;
}
.modalHeader {
  display: flex;
  justify-content: center;
}

h3 {
  color: rgba(0, 0, 0, 0.659);
}
