.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  background-color: rgb(61, 87, 200);
  color: white;
  padding: 30px;
  border-radius: 20px;
  font-weight: 500;
}
hr {
  width: 100%;
}
