@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Josefin+Sans:wght@300;400&family=Lato:wght@300&family=Montserrat:wght@300;400&family=Roboto:wght@100;400&display=swap");

.App {
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  color: rgba(0, 0, 0, 0.796);
}
